<!DOCTYPE html>
<html>
    <head>
        <title>Getting File Hash</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Registry</a>
            <form class="form-inline">
                <p>
                    <b>Account: </b><span id="address"></span>
                    <b>Balance: </b><span id="ETHbalance"></span>
                </p>
            </form>
        </nav>

        <br><br>
        <div class="container">
            <h2>Register and Verify your files</h2>
            <br>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control-file" name="fileToRegister" type="file" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-dark">Hash it!</button>
            </form>
            <% if(digest) { %>
                <form action="/register" method="POST" enctype="multipart/form-data"></form>
                    <div class="form-group">
                        <p><br><b>File SHA-256 hash:</b> <span id="fileHash"><%= digest %></span></p>
                    </div>
                    <button type="submit" class="btn btn-dark" onclick="register()">Register</button>
                </form>
            <% } %>
            <br><br>
            <span id="txLink"></span>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/js/ethereum.js"></script>
    </body>
</html>